@font-face {
    font-family: PixCon;
    src: url('./fonts/PixCon.ttf')
}

@font-face {
    font-family: Patua;
    src: url('./fonts/PatuaOne-Regular.ttf')
}

* {
    margin: 0;
    padding: 0;
}

:root {
    /* Fuentes */
    --primary-font: PixCon;
    --secondary-font: Patua;

    --black: #1f1f1f;
    /* color botones */
    --blue-light: #4A9EEC;
    --blue-dark: #2A5A86;

    --cursor-size: 30px;
    --bg: #FAF7EE;
    --cursorXPos: 0;
    --cursorYPos: 0;
}

h1,
h2 {
    font-family: var(--primary-font);
}