#cursor {
    position: fixed;
    top: calc(var(--cursor-size) * -0.5);
    left: calc(var(--cursor-size) * -0.5);
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 100;
}

.cursor-circle {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--cursor-size);
    height: var(--cursor-size);
    border-radius: var(--cursor-size);
    background: black;
    transform-origin: center center;
    z-index: 100;
}
#header {
    height: 70vh;
    position: relative;
    cursor: crosshair;
    box-shadow: -1px 111px 73px -5px rgba(230, 229, 229, 0.72) inset;
    -webkit-box-shadow: -1px 111px 73px -5px rgba(237,237,237,0.72) inset;
    -moz-box-shadow: -1px 111px 73px -5px rgba(237,237,237,0.72) inset;
}
#header .container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 12rem;
}
#header .container .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    position: absolute;
    width: 100%;
}
#header .container .titles h1 {
    font-size: 3rem;
    color: black;
    margin-bottom: -50px;
    z-index: 10;
    text-shadow: -2px 4px 6px rgba(0,0,0,0.6);
    -webkit-text-shadow: -2px 4px 6px rgba(0,0,0,0.6);
    -moz-text-shadow: -2px 4px 6px rgba(0,0,0,0.6);
    cursor: none;
}
#header .container .titles h2 {
    font-size: 12px;
    color: white;
    padding: 8px;
    z-index: 2;

    mix-blend-mode: difference;
}
#header .container .titles span {
    display: block;
    position: relative;
    margin-bottom: -50px;
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: -3px 3px gray;
    left: calc(var(--cursorXPos) / -50);
    top: calc(var(--cursorYPos) / -50);
}
#header .container .titles {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    font-family: var(--primary-font);
}
#header .container .subtitles {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 80%;
    margin-top: -18px;
    position: relative;
    box-shadow: 0px -6px 36px -3px rgba(0,0,0,0.72);
    -webkit-box-shadow: 0px -6px 36px -3px rgba(0,0,0,0.72);
    -moz-box-shadow: 0px -6px 36px -3px rgba(0,0,0,0.72);
}
#header .container .subtitles img.icon {
    position: absolute;
    right: -20px;
    width: 100px;
}
#header .container .titles .arrow {
    width: 30px;
    z-index: 4;
}
#header .bg_images {
    position: absolute;
    right: calc(var(--cursorXPos) / 3);
    top: calc(var(--cursorYPos) / 3);
    z-index: 5;
}
#header .bg_images img {
    width: 100px;
    opacity: 0;
    scale: 0.5;
    transition: .2s;
}
#header .bg_images.onmouse img {
    opacity: 1;
    scale: 1;
}
#header .social_icons {
    position: fixed;
    left: 50px;
    bottom: 0;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    z-index: 2;
}

#header .social_icons .icon {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
}
#header .social_icons .icon a {
    font-size: 30px;
    color: black;
    cursor: none;
    
    mix-blend-mode: difference;
}
#header .social_icons .icon:hover {
    background: black;
    border-radius: 100%;
}
#header .social_icons .icon:hover a {
    color: white;
}
#header .social_icons .line {
    width: 3px;
    height: 5rem;
    background-color: #000;
}
@media screen and (min-width: 600px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 4rem;
        margin-bottom: -70px;
    }
    #header .container .subtitles {
        width: 60%;
    }
    #header .container .subtitles img.icon {
        width: 130px;
    }
    #header .social_icons {
        display: flex;
    }
    #header .bg_images img {
        width: 200px;
    }
}
@media screen and (min-width: 700px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 4.5rem;
        margin-bottom: -80px;
    }
    #header .container .subtitles {
        width: 70%;
        margin-top: -30px;
    }
    #header .container .subtitles img.icon {
        width: 130px;
    }
    #header .container .titles h2 {
        font-size: 18px;
    }
    #header .container .titles .arrow {
        width: 40px;
    }
}
@media screen and (min-width: 800px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 5rem;
    }
    #header .container .subtitles {
        margin-top: -50px;
    }
}
@media screen and (min-width: 900px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 5.5rem;
    }
    #header .container .subtitles {
        margin-top: -80px;
    }
    #header .container .titles h2 {
        font-size: 22px;
    }
}
@media screen and (min-width: 1000px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 6rem;
        margin-top: -20px;
    }
    #header .container .titles h2 {
        font-size: 22px;
    }
    #header .container .titles .arrow {
        width: 50px;
    }
}
@media screen and (min-width: 1100px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 6.5rem;
        margin-bottom: -100px;
    }
    #header .container .subtitles {
        margin-top: -30px;
    }
    #header .container .titles h2 {
        font-size: 22px;
    }
    #header .container .titles .arrow {
        width: 50px;
    }
}
@media screen and (min-width: 1200px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 7rem;
        margin-bottom: -100px;
    }
    #header .container .subtitles {
        margin-top: -80px;
    }
}
@media screen and (min-width: 1300px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 8rem;
        margin-bottom: -110px;
    }
    #header .container .subtitles {
        margin-top: -120px;
    }
}
@media screen and (min-width: 1500px) {
    #header .container .titles h1,
    #header .container .titles span {
        font-size: 9rem;
        margin-bottom: -140px;
    }
    #header .container .subtitles {
        margin-top: -80px;
    }
}
